[project]
	description = Demo App for deployment using Git Gerrit and Jenkins
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fred Anderson (w1nterl0ng)
[access "refs/for/refs/*"]
	read = group user/Fred Anderson (w1nterl0ng)
	push = group user/Fred Anderson (w1nterl0ng)
	label-Code-Review = -2..+2 group user/Fred Anderson (w1nterl0ng)
	label-Verified = -1..+1 group user/Fred Anderson (w1nterl0ng)
	rebase = group user/Fred Anderson (w1nterl0ng)
	removeReviewer = group user/Fred Anderson (w1nterl0ng)
	submit = group user/Fred Anderson (w1nterl0ng)
[access "refs/heads/*"]
	read = group user/Fred Anderson (w1nterl0ng)
	create = group user/Fred Anderson (w1nterl0ng)
	push = +force group user/Fred Anderson (w1nterl0ng)
	pushMerge = group user/Fred Anderson (w1nterl0ng)
[access "refs/tags/*"]
	push = group user/Fred Anderson (w1nterl0ng)
	push = +force group user/Fred Anderson (w1nterl0ng)
